.content7
{
    background: #f1f1f1;
    padding:50px 0;
    margin-top:50px;
}
.container .row .col-lg-12 .title
{
    text-align: center;
    margin-bottom:50px;
}
.container .row .col-lg-12 .title h2
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color:#000;
}
.container .row .col-lg-12 .title p
{
    font-size: 30px;
    text-transform: capitalize;
    color:#000;
    font-weight: 700;
}
.container .row .col-lg-12 .img
{
    width:200px;
    height:200px;
    border-radius: 50%;
    float: left;
    position: relative;
}
.container .row .col-lg-12 .carousel-indicators
{
    display: none;
}
.container .row .col-lg-12 .caption2
{
    margin-left: 250px;
}
.container .row .col-lg-12 .caption2 h4
{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    color:#000;
    margin:0;
    position: relative;
    padding:0;
    padding-bottom:10px;
}
.container .row .col-lg-12 .caption2 span
{
    text-transform:capitalize;
    font-size: 15px;
    font-weight: 600;
    color:#000;
}
.container .row .col-lg-12 .caption2 .stars
{
    float: right;
    margin-top:-30px;
    color:#578F42;
    font-size: 17px;
}
.container .row .col-lg-12 .caption2 .stars i
{
    padding-right: 5px;
}
.container .row .col-lg-12 .caption2 p
{
    padding-top:40px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
.container .row .col-lg-12 .carousel-control-prev 
{
    background: #fff;
    opacity:1;
    width:70px;
    height:50px;
    position: relative;
    top:65px;
    left:250px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    border:2px solid #000; 
}
.container .row .col-lg-12 .carousel-control-prev span
{
    background: url("../images/angleLeft.svg");
    color:#000;
}
.container .row .col-lg-12 .carousel-control-next 
{
    background: #fff;
    opacity:1;
    width:70px;
    height:50px;
    position: relative;
    top:15px;
    left:318px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border:2px solid #000; 
}
.container .row .col-lg-12 .carousel-control-next span
{
    background: url("../images/angleRight.svg");
    color:#000;
}